@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700");
body,
html,
#root {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: var(--color-bg-1);
} /*16px*/

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-text-3);
}

:root {
  /* colors */
  --color-bg-1: #14181c;
  --color-bg-2: #2c3440;
  --color-bg-3: #202830;

  --color-border-1: #445566;
  --color-border-2: #aabbcc;
  --color-border-3: #00c030;

  --color-text-1: #ffffff;
  --color-text-2: #ddeeff;
  --color-text-3: #d8e0e8;
  --color-text-4: #aabbcc;
  --color-text-5: #99aabb;
  --color-text-6: #8899aa;
  --color-text-7: #778899;
  --color-text-8: #667788;
  --color-text-9: #556677;
  --color-text-10: #000000;

  --color-text-accent-1: #f09;
  --color-text-accent-2: #00c030;

  --color-1: #ffffff40;
  --color-2: #00c030;
  --color-3: #14181c;
  --color-4: #161718;

  /* font sizes */
  --font-size-4XL: 2.986rem;
  --font-size-3XL: 2.488rem;
  --font-size-2XL: 2.074rem;
  --font-size-XL: 1.728rem;
  --font-size-L: 1.44rem;
  --font-size-M: 1.2rem;
  --font-size-R: 1rem;
  --font-size-S: 0.833rem;
  --font-size-XS: 0.694rem;
  --font-size-2XS: 0.579rem;
}

/* Common classes and elements */
.g-book-star-rating {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--font-size-M);
  line-height: 1;
  margin-top: -2px;
}

.g-book-star-rating::before {
  content: "★★★★★";
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    var(--color-text-accent-2) var(--percent),
    var(--color-text-9) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-loader {
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  all: unset;
  color: var(--color-text-accent-2);
  border-radius: 3px;
  background-color: var(--color-bg-2);
  padding: 5px 10px;
  max-height: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 300ms ease-in;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

button:hover {
  box-shadow: 0px 0px 0px 2px var(--color-border-3);
}
button:disabled {
  opacity: 0.6;
  cursor: default;
}
